<div class='container'>
  <div class='row'>
    <div class="col-md-3">
      <%= render 'users/userinfo', user: @book_detail.user %>
    </div>

    <div class='col-md-8 offset-md-1'>
      <h2>Book detail</h2>
       <table class='table'>
        <tr>
          <td>
            <%= link_to user_path(@book_detail.user.id) do %>
              <%= image_tag @book_detail.user.get_profile_image(40, 40) %>
              <p><%= @book_detail.user.name %></p>
            <% end %>
          </td>
          <td><%= link_to @book_detail.title, book_path(@book_detail.id) %></td>
          <td><%= @book_detail.body %></td>
          <% if @book_detail.user == current_user %>
            <td><%= link_to "Edit", edit_book_path(@book_detail.id), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to "Destroy", book_path(@book_detail), method: :delete, data: { confirm: "本当に消しますか？" }, class: "btn btn-sm btn-danger" %></td>
          <% end %>
        </tr>
      </table>

    </div>
  </div>
</div>
