<%= flash[:notice] %>
<div class="container">
    <div class="row">
<%= render 'userinfo', user: @user %>


   <div class="col-lg-8">

    <table class="table">
      <h2>Book detail</h2>


       <tbody>
           <tr>
            <td>
                <%= link_to user_path(@book_detail.user.id)  do %>
                <%= image_tag @book_detail.user.get_profile_image(40,40) %>
                <p><%= @book_detail.user.name %></p>
                <% end %>
            </td>
            <td><%= link_to @book_detail.title, book_path(@book_detail.id) %></td>
            <td><%= @book_detail.body %></td>
            <% if @book_detail.user == current_user %>
            <td><%= link_to "Edit", edit_book_path(@book_detail.id), class:"btn btn-sm btn-success" %></td>
            <td><%= link_to "Destroy", book_path(@book_detail),method: :delete, data: { confirm: "本当に消しますか？" }, class:"btn btn-sm btn-danger" %></td>
            <%end%>

            </tr>

        </tbody>

    </table>